<launch>
  <param from="$(find-pkg-share ridgeback_control)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" exec="spawner"
        args="ridgeback_joint_publisher ridgeback_velocity_controller" />

  <node pkg="robot_localization" exec="ekf_localization_node" name="ekf_localization" />

  <node pkg="twist_mux" exec="twist_mux" name="twist_mux">
    <param from="$(find-pkg-share ridgeback_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="ridgeback_velocity_controller/cmd_vel"/>
  </node>

  <group if="$(optenv RIDGEBACK_CONTROL_EXTRAS 0)" >
    <param from="$(env RIDGEBACK_CONTROL_EXTRAS_PATH)" subst_value="true" />
  </group>
</launch>
