<launch>

 <node pkg="move_base" exec="move_base" respawn="false" name="move_base" output="screen">

  <param from="$(find-pkg-share ridgeback_navigation)/params/costmap_common_params.yaml" ns="global_costmap" />
  <param from="$(find-pkg-share ridgeback_navigation)/params/costmap_common_params.yaml" ns="local_costmap" />

  <param from="$(find-pkg-share ridgeback_navigation)/params/odom_nav_params/global_costmap_params.yaml"/>
  <param from="$(find-pkg-share ridgeback_navigation)/params/odom_nav_params/local_costmap_params.yaml"/>

  <param from="$(find-pkg-share ridgeback_navigation)/params/base_local_planner_params.yaml"/>
  <param from="$(find-pkg-share ridgeback_navigation)/params/move_base_params.yaml"/>

  <param name="base_global_planner" value="navfn/NavfnROS"/>
  <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

  <remap from="odom" to="odometry/filtered"/>
 </node>

</launch>
