<launch>
  <arg name="config" default="$(optenv RIDGEBACK_CONFIG empty)" />

  <param name="robot_description"
         command="$(find-pkg-prefix ridgeback_description)/scripts/env_run
                  $(find-pkg-prefix ridgeback_description)/urdf/configs/$(var config)
                  $(find xacro)/xacro $(find ridgeback_description)/urdf/ridgeback.urdf.xacro
                  --inorder " />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
